.route.route-example-02-drag-and-drop
  h1 Example 02 Drag'n'Drop with debounceTime
  .box-container
    button.box.box-none(id="example02boxNone") NONE
    button.box.box-delay(id="example02boxDelay") DELAY
    button.box.box-filter(id="example02boxFilter") FILTER
    button.box.box-debounce(id="example02boxDebounce") DEBOUNCE
    button.box.box-take(id="example02boxTake") TAKE
    button.box.box-take-until(id="example02boxTakeUntil") TAKE_UNTIL
    button.box.box-take-while(id="example02boxTakeWhile") TAKE_WHILE
    button.box.box-take-last(id="example02boxTakeLast") TAKE_LAST
    button.box.box-best(id="example02boxBest") BEST